.regMin{
  height: 100%;
  overflow: hidden;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.regform{   
  border-radius: 8px;
  height: 320px;
  width: 300px;
  display: grid;
  margin-left: 36%;
  margin-top: 10%;
  background-color:rgba(255, 255, 255, 0.856);
  padding: 1rem;

}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
}

.regform input{
  margin-top: 5%;
  border: solid 2pt rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 8px;
  height: 40px;
  outline: none;
  padding: 1%;
  text-align: center;
  color: black;
  
}

.regcohort{
  margin-top: 5%;
  border: solid 2pt rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 8px;
  height: 40px;
  outline: none;
  padding: 1%;
  text-align: center;
  color: black;
}

option{
  color: black;
}



#regbutton{
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  margin-top: 5%;
  border: none;
 
}

#regbutton:hover {
  background-color: #1c1d1c;
}

